<footer>
  <hr>

  <div class="footer-nav">
    <h2>audiophile</h2>

    <nav>
      <ul>
        <li><a target="_blank" href="#">Home</a></li>
        <li><a target="_blank" href="headphones.html">Headphones</a></li>
        <li><a target="_blank" href="speakers.html">Speakers</a></li>
        <li><a target="_blank" href="earphones.html">Earphones</a></li>
      </ul>
    </nav>
  </div>

  <div class="about">
    <div class="about-blurb">
      <p>Audiophile is an all in one stop to fulfill your audio needs. We&apos;re a small team of music lovers and sound
      specialists who are devoted to helping you get the most out of personal audio. Come and visit our demo facility - we&apos;re open 7
      days a week.</p>
    </div>

    <div class="social-media">
      <nav>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a target="_blank" href="https://www.facebook.com/#">
              <img src="assets/images/social-media/facebook.png" width="24" height="24" alt="Facebook">
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://www.twitter.com/#">
              <img src="assets/images/social-media/twitter.png" width="24" height="24" alt="Twitter">
            </a>
          </li>
          <li class="list-inline-item">
            <a target="_blank" href="https://www.instagram.com/#">
              <img src="assets/images/social-media/instagram.png" width="24" height="24" alt="Instagram">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <span class="attribution">Copyright &copy; 2021. All Rights Reserved</span>
</footer>
