<main>
  <section class="new-product">
    <div class="product-info">
      <h4>New Product</h4>
      <h1>XX99 Mark II Headphones</h1>
      <p style="width: 350px">Experience natural, lifelike audio and exceptional build quality made for the passionate music enthusiast.</p>
      <button>See Product</button>
    </div>
    <div class="product-image">
      <img src="assets/images/product-xx99-mark-two-headphones/desktop/image-product.jpg" alt="XX99 Mark II headphones" width="300" height="300" />
    </div>
  </section>

  <section class="categories">
    <ul style="list-style-type: none;">
      <li>
        <div class="card">
          <img src="assets/images/category-headphones/desktop/image-xx99-mark-two.jpg" alt="headphones" width="250" height="250" />
          <h5>Headphones</h5>
          <h6>Shop <span>&gt;</span></h6>
        </div>
      </li>
      <li>
        <div class="card">
          <img src="assets/images/category-speakers/desktop/image-zx9.jpg" alt="speakers" width="250" height="250" />
          <h5>Speakers</h5>
          <h6>Shop <span>&gt;</span></h6>
        </div>
      </li>
      <li>
        <div class="card">
          <img src="assets/images/category-earphones/desktop/image-yx1-earphones.jpg" alt="earphones" width="250" height="250" />
          <h5>Earphones</h5>
          <h6>Shop <span>&gt;</span></h6>
        </div>
      </li>
    </ul>
  </section>

  <section class="products">
    <div class="zx9-speaker">
      <img src="assets/images/category-speakers/desktop/image-zx9.jpg" alt="ZX9 speaker" height="350" width="250" style="width: 60%" />
      <div class="zx9-speaker-info" style="width: 40%">
        <h1>ZX9 speaker</h1>
        <p>Upgrade to premium speakers that are phenomenally built to deliver truly remarkable sound.</p>
        <button>See product</button>
      </div>
    </div>
    <div class="zx7-speaker">
      <div class="zx7-speaker-info" style="display: flex; align-items: center; width: 40%">
        <h2>ZX7 speaker</h2>
        <button>See product</button>
      </div>
      <div style="width: 60%">
        <img src="assets/images/product-zx7-speaker/desktop/image-gallery-3.jpg" alt="ZX7 speaker" height="450" width="300" />
      </div>
    </div>
    <div class="yx1-earphones">
      <img src="assets/images/product-yx1-earphones/desktop/image-gallery-2.jpg" alt="YX1 earphones" height="450" width="300" />
      <div class="yx1-earphones-info">
        <h2>YX1 earphones</h2>
        <button>See product</button>
      </div>
    </div>
  </section>

  <section class="about">
    <div class="about-container">
      <h2>Bringing you the <span style="color: orange">best</span> audio gear</h2>
      <p>Located at the heart of New York City, Audiophile is the premier store for high end headphones,
        earphones, speakers, and audio accessories. We have a large showroom and luxury demonstration
        rooms available for you to browse and experience a wide range of our products. Stop by our store
        to meet some of the fantastic people who make Audiophile the best place to buy your portable
        audio equipment.</p>
    </div>
    <div>
      <img src="assets/images/shared/desktop/image-best-gear.jpg" alt="Best Gear" width="400" height="400" style="border-radius: 8px;" />
    </div>
  </section>
</main>
